* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

div.one-body {
    background-color: #1f2937;
    padding-top: 12px; 
    padding-bottom: 4em; 
    padding-left: 12em; 
    padding-right: 12em;  
}

li {
    list-style: none;
}

a:link {
    text-decoration: none!important;
}

a.link:visited {
    color: #f9faf8; 
}

a.link:hover {
    text-decoration: none; color: grey; 
}

div.nav {
    display: flex; 
    width: 100%; 
    padding-top: 0.5em; 
}

ul.left-link {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 100%; 
}

ul.right-link {
    display: flex; 
    gap: 16px; 
    align-items: center; 
    justify-content: flex-end; 
    width: 100%; 
}

a.logo {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 400; 
    color: #f9faf8; 
    font-size: 20px; 
}

a.link {
    font-family: Arial, Helvetica, sans-serif; 
    color: #e5e7eb; 
    font-size: 14px; 
}

div.container {
    display: flex; 
    flex-direction: row; 
    padding-top: 6em; 
    padding-bottom: 2em; 
    gap: 4em; 
}

div.title {
    color: #e5e7eb; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 900; 
    font-size: 36px;
    padding-bottom: 0.5em; 
}

div.text {
    color: #e5e7eb; 
    font-family: Arial, Helvetica, sans-serif; 
    padding-bottom: 0.5em; 
}

div.header {
    width: 100%; 
}

div.image-block {
    width: 100%;
    background-color: #d3d3d3; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

div.image {
    color: gray; 
}

button {
    background-color: #3882f6; 
    border: none; 
    padding-top: 0.75em; 
    padding-bottom: 0.75em; 
    padding-left: 1.75em; 
    padding-right: 1.75em; 
    border-radius: 15px; 
    color:#f9faf8; 
    font-weight: 700; 

}

div.button {
    padding-top: 0.5em; 
}