* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

div.one-body {
    background-color: #1f2937;
    padding-top: 12px; 
    padding-bottom: 4em; 
    padding-left: 12em; 
    padding-right: 12em;  
}

li {
    list-style: none;
}

a:link {
    text-decoration: none!important;
}

a.link:visited {
    color: #f9faf8; 
}

a.link:hover {
    text-decoration: none; color: grey; 
}

div.nav {
    display: flex; 
    width: 100%; 
    padding-top: 0.5em; 
}

ul.left-link {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 100%; 
}

ul.right-link {
    display: flex; 
    gap: 16px; 
    align-items: center; 
    justify-content: flex-end; 
    width: 100%; 
}

a.logo {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 400; 
    color: #f9faf8; 
    font-size: 20px; 
}

a.link {
    font-family: Arial, Helvetica, sans-serif; 
    color: #e5e7eb; 
    font-size: 14px; 
}

div.container {
    display: flex; 
    flex-direction: row; 
    padding-top: 6em; 
    padding-bottom: 2em; 
    gap: 4em; 
}

div.title {
    color: #e5e7eb; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 900; 
    font-size: 36px;
    padding-bottom: 0.5em; 
}

div.text {
    color: #e5e7eb; 
    font-family: Arial, Helvetica, sans-serif; 
    padding-bottom: 0.5em; 
}

div.header {
    width: 100%; 
}

div.image-block {
    width: 100%;
    background-color: #d3d3d3; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

div.image {
    color: gray; 
}

a.button:visited {
    color: #f9faf8
}

button {
    background-color: #3882f6; 
    border: none; 
    padding-top: 0.75em; 
    padding-bottom: 0.75em; 
    padding-left: 1.75em; 
    padding-right: 1.75em; 
    border-radius: 15px; 
    color:#f9faf8; 
    font-weight: 700; 

}

div.button {
    padding-top: 0.5em; 
}

div.middle-container {
    display: flex; 
    flex-direction: column; 
    width: 100%;
    align-items: center; 
    padding-left: 13em; 
    padding-right: 13em; 
    margin-top: 40px; 
    margin-bottom: 40px; 
}

div.middle-title {
    color: #1f2937; 
    font-size: 24px; 
    font-weight: 800; 
}

div.info-cards {
    display: flex; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
}

div.box {
    border: solid #3882f6; 
    border-width: 3px; 
    border-radius: 15px; 
    width: 100%
}

div.info-cards {
    gap: 5em; 
    padding: 30px; 
}

div.card {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 150px; 
    width: 150px; 
}

div.each-card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

div.card-info {
    display: flex; 
    padding-left: 4px; 
    padding-right: 4px; 
    text-align: center; 
}

div.quote-box {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    background-color: #e5e7eb; 
}

div.quote {
    padding-top: 80px; 
    margin-left: 300px; 
    margin-right: 300px; 
    color: #1f2937; 
    font-size: 25px; 
}

div.quote-author {
    display: flex; 
    justify-content: flex-end;
    margin-left: 300px; 
    margin-right: 300px; 
    font-size: 20px; 
    font-weight: 700;  
    padding-bottom: 80px; 
    padding-top: 10px; 
}

div.footer {
    margin-top: 100px; 
    margin-bottom: 100px; 
    margin-left: 220px; 
    margin-right: 220px; 
}

div.action-banner {
    background-color: #3882f6; 
    display: flex; 
    width: 100%; 
    align-items: center; 
    justify-content: center; 
    gap: 150px; 
    padding: 40px; 
    border-radius: 15px; 
}

div.action-info {
    color: #e5e7eb; 
    font-family: Arial, Helvetica, sans-serif; 
}

div.action-title {
    font-size: 20px; 
    font-weight: 900;  
}

div.action-instruction {
    font-size: 14px; 
}

button.action {
    border: solid #e5e7eb; 
    border-radius: 15px; 
}

a.action-button:visited {
    color: #e5e7eb; 
}